/* Device Displays */

@media only screen and (max-width: 767px) {
  .mflex {display: block;}
  .mline {justify-content: center;}
  .mslim {display: none;}
  .mclear {clear:both;}
  .login {width: 100%;}
  .filter {width: 100%; border-radius: 0;}
  .navbar {
    display: flex;
    align-items: center;
  }

  /* Basic mobile table handling */
  table, thead, tbody, th, td, tr {display: block;}
  thead tr {display: hidden;}
  tr {border: 1px solid #000008;}
  .table td {border: 0px;}
}
@media only screen and (min-width: 768px) {
  .mflex {display: flex;}
  .mline {justify-content: end;}
  .mobile {display: none;}
  .navbar:first-child {margin-left: 3rem;}
  .navbar:last-child {margin-right: 3rem;}
}

/* Tag Overrides */

fieldset {
  border-top: 1px solid #24272f;
  width: fit-content;
  padding: 0.25em 1em 0.5em 1em;
  border-radius: 25px;
}
form {
  margin: 0;
}
legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-shadow: none;
}
td {
  vertical-align: middle !important;
}
.debug {
  border: 1px solid green;
}

/* Bulma Root Overrides */

.navbar-item img, .navbar-item svg {
  --bulma-navbar-item-img-max-height: 48px;
}

/* Bulma Generic Overrides */

.card {
  border: 1px solid transparent;
}
.card-footer p {
  color: #6674de;
}
.card-header-icon {
  cursor: default;
}
.card-header-title {
  z-index: 2;
}
.hero-body {
  justify-content: center;
}
.hero-body .notification {
  width: 100%;
}
.menu {
  width: fit-content;
  position: absolute;
  top: 100px;
}
.progress {
  background: transparent;
}
.table.plain td, .table.plain th {
  border: none;
}

/* Sortable tables */

[data-sort]:hover       {cursor: pointer;}
[data-dir=""]:after     {content: " ⬍";}
[data-dir="asc"]:after  {content: " ⬆";}
[data-dir="desc"]:after {content: " ⬇";}

/* Custom Styles */

.bid-option {
  display: block;
  padding: 20px;
  border: 1px solid;
  margin: 10px;
  border-radius: 8px;
  color: #FFF;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bid-option:has(:checked) {
  font-weight:bold;
}
.admin .bid-option                   {background: #120b15; border-color: #591A62;}
.admin .bid-option:has(:checked)     {background: #1f022c; border-color: #F700FF;}
.conflict .bid-option                {background: #150b0b; border-color: #621A1A;}
.conflict .bid-option:has(:checked)  {background: #2c0202; border-color: #F00;}
.economics .bid-option               {background: #0b150b; border-color: #26621A;}
.economics .bid-option:has(:checked) {background: #0d2c02; border-color: #2CFF00;}
.sports .bid-option                  {background: #15130b; border-color: #62571A;}
.sports .bid-option:has(:checked)    {background: #2c2202; border-color: #FFA700;}
.sapphire .bid-option                {background: #0b1115; border-color: #1A4A62;}
.sapphire .bid-option:has(:checked)  {background: #02122c; border-color: #0064FF;}

.bid-option:hover:not(:has([disabled])) {
  border-color: #FFEB9E;
}

.card-footer-item:hover > p{
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}
.centre, .center {
  justify-content: center;
  text-align: center;
}
.center-align {
  justify-content: center;
}
.default-line {
  background-color: #46494f;
  margin-top: 5px;
  margin-bottom: 10px;
}
.depth {
  filter: drop-shadow(3px 3px 2px #0000004f);
}
.edit {
  font-size: 1.6em;
  border: 1px solid #cbcbcb4a;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: #0115228f;
}
.edit:hover {
  background: #1b223f;
  border-color: #ffc439b8;
}
.foot-content {
  display: flex;
  align-items: center;
}
.glow {
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}
.graph {
  position: relative;
  height: 20px;
}
.odds {
  margin: 0 auto;
  text-align: center;
  width: max-content;
}
.overview {
  width: 200px;
  position: fixed;
  right: 25px;
  bottom: 1em;
  z-index: 1;
}
.slap {
  rotate: 45deg;
}

tr.admin     {background: linear-gradient(to right, #59025b8a, transparent 25%);}
tr.conflict  {background: linear-gradient(to right, #5b02028a, transparent 25%);}
tr.economics {background: linear-gradient(to right, #025b0c8a, transparent 25%);}
tr.sports    {background: linear-gradient(to right, #937c008a, transparent 25%);}
tr.sapphire  {background: linear-gradient(to right, #0062b98a, transparent 25%);}

/* Card hell */

.card.admin     {border-color: #8e0891a3;}
.card.conflict  {border-color: #910808a3;}
.card.economics {border-color: #025b0ca3;}
.card.sports    {border-color: #7f630fa3;}
.card.sapphire  {border-color: #0087ffa3; filter: drop-shadow(1px 1px 5px #c4c4c4db);}

.admin .card-header     {background: linear-gradient(170deg, #8e0891 -100%, transparent);}
.conflict .card-header  {background: linear-gradient(170deg, #910808 -100%, transparent);}
.economics .card-header {background: linear-gradient(170deg, #025b0c -100%, transparent);}
.sports .card-header    {background: linear-gradient(170deg, #ffbf00 -100%, transparent);}
.sapphire .card-header  {background: linear-gradient(170deg, #0087ff -100%, transparent);}

.id-fader {
  position: absolute;
  font-size: 4em;
  top: -23px;
  z-index: 1;
  font-weight: bold;
  left: 2px;
}
.bid .id-fader {
  right: 2px;
  left: unset;
}
.admin .id-fader     {color: #591a62;}
.conflict .id-fader  {color: #591010;}
.economics .id-fader {color: #239a0b21;}
.sports .id-fader    {color: #c1b20d36;}
.sapphire .id-fader  {color: #09A8D92E;}

.title.admin, .title.conflict, .title.economics, .title.sports, .title.sapphire {
  max-width: 750px;
  padding: 6px;
  border-radius: 4px 0 0px 4px;
  border-left: 3px solid;
}
.title.admin     {background: linear-gradient(to right, transparent -25%, #59025b, transparent); border-color: #59025b;}
.title.conflict  {background: linear-gradient(to right, transparent -25%, #5b0202, transparent); border-color: #5b0202;}
.title.economics {background: linear-gradient(to right, transparent -25%, #025b0c, transparent); border-color: #025b0c;}
.title.sports    {background: linear-gradient(to right, transparent -25%, #937c00, transparent); border-color: #937c00;}
.title.sapphire  {background: linear-gradient(to right, transparent -25%, #0062b9, transparent); border-color: #0062b9;}

/* Icons */

.ico {
	font-family: boxicons!important;
  font-size: 16pt;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: inherit;
	display: inline-block;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.ico-dot:after, .ico-tart:after, .ico-eyebeast:after, .ico-rmm:after, .ico-popcorn:after, .ico-planet:after {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-size: contain;
  margin-right: 0.25rem;
}
.ico-planet:after {
  content: '';
  display: block;
  height: 1.2em;
  width: 1.2em;
  background-size: contain;
  margin-left: 0.25em;
  margin-right: 0em;
  margin-bottom: -.3em;
}
code .ico-planet:after {
  margin-left: 0em;
}


.ico-dot:after      {background-image: url("/Static/Assets/dot.svg");}
.ico-tart:after     {background-image: url("/Static/Assets/tart.svg");}
.ico-eyebeast:after {background-image: url("/Static/Assets/eyebeast.svg");}
.ico-rmm:after      {background-image: url("/Static/Assets/rmm.svg");}
.ico-popcorn:after  {background-image: url("/Static/Assets/popcorn.svg");}
.ico-planet:after   {background-image: url("/Static/Assets/planet.png");}

.navbar-end {
  margin-right: 2em;
}
.navbar-item {
  gap: 0.3rem;
}

/* Snackbar */

#snacks {
  visibility: hidden;
  padding: 15px;
  position: fixed;
  z-index: 2;
  top: 30px;
  font-size: 17px;
  left: 50%;
  transform: translate(-50%);
}
#snacks.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {from {top: 0; opacity: 0;} to {top: 30px; opacity: 1;}}
@keyframes fadein {from {top: 0; opacity: 0;} to {top: 30px; opacity: 1;}}
@-webkit-keyframes fadeout {from {top: 30px; opacity: 1;} to {top: 0; opacity: 0;}}
@keyframes fadeout {from {top: 30px; opacity: 1;} to {top: 0; opacity: 0;}}